#nametag{
    text-align: center;
    color: #f2c499;
    font-size: 80pt;
    -webkit-text-stroke: 2px brown;
}

body{
    background-color: #f5a9e3;
}

.text{
    color: brown;
    text-align: center;
    -webkit-text-stroke: 2px brown;
    font-size: 40pt;
}

ul{
    list-style-type: none;
    text-align: center;
    font-size: 30pt;
}

a{
    color: #a15208;
}

form{
    text-align: center;
    font-size: 20pt;
}
#saysum{
    color: #f2c499;
    font-size: 40pt;
    -webkit-text-stroke: 2px brown;
    text-align: center;
}

p{
    text-align: center;
    font-size: 20pt;
}

input{
  display: block;
  margin: auto;
  text-align: center;
  font-size: 16pt;
  color: blue;
}

.homepage-gif {
    display: block;
    margin: auto;
    width: 30rem;
}

.cats-title{
    text-align: center;
    font-size: 40pt;
}

#randomBtn{
  display: block;
  margin: auto;
}

