{% extends "layout.html" %}

<title>
    {% block title %}
    About
    {% endblock %}
</title>

{% block body %}
<h2>About this project</h2>
<p>This is my final project for CS50. It will not change the world, it may not solve an actial problem, or even impact my community. But it is of interest to me. And that is why I built this website. It's something that I built, and can entertain my wife and I for a little while. I have learned a lot in this process and am happy I took this course.</p>
<br>
<p>As far as the technical details, this is a simple website built with HTML, CSS, JS, Python, Flask, and Jinja. I had to implement details such as question selection, results processing, enter-key navigation in JS, and much more. It was nice to have my own direction with this project and build something end to end from scratch. You can see more about this project and anything else I have worked on at <a href="https://github.com/andres-j-ramirez" target="_blank">
    github.com/andres-j-ramirez
  </a>.</p>
{% endblock %}